body {
  color: var(--colorGray900);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: var(--sizeFontMd);
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
