:root,
::backdrop {
  /* Colors (dark mode) */
  --sl-color-white: hsl(0, 0%, 100%);
  --sl-color-gray-1: hsl(0, 0%, 95%);
  --sl-color-gray-2: hsl(0, 0%, 80%);
  --sl-color-gray-3: hsl(0, 0%, 63%);
  --sl-color-gray-4: hsl(0, 0%, 42%);
  --sl-color-gray-5: hsl(0, 0%, 28%);
  --sl-color-gray-6: hsl(0, 0%, 18%);
  --sl-color-black: hsl(0, 0%, 0%);

  --sl-hue-orange: 41;
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 39%, 22%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
  --sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);
  --sl-hue-green: 101;
  --sl-color-green-low: hsl(var(--sl-hue-green), 39%, 22%);
  --sl-color-green: hsl(var(--sl-hue-green), 82%, 63%);
  --sl-color-green-high: hsl(var(--sl-hue-green), 82%, 80%);
  --sl-hue-blue: 205;
  --sl-color-blue-low: hsl(var(--sl-hue-blue), 80%, 20%);
  --sl-color-blue: hsl(var(--sl-hue-blue), 90%, 70%);
  --sl-color-blue-high: hsl(var(--sl-hue-blue), 90%, 90%);
  --sl-hue-purple: 120;
  --sl-color-purple-low: hsl(var(--sl-hue-purple), 39%, 22%);
  --sl-color-purple: hsl(var(--sl-hue-purple), 82%, 63%);
  --sl-color-purple-high: hsl(var(--sl-hue-purple), 82%, 89%);
  --sl-hue-red: 339;
  --sl-color-red-low: hsl(var(--sl-hue-red), 39%, 22%);
  --sl-color-red: hsl(var(--sl-hue-red), 82%, 63%);
  --sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

  --sl-color-accent-low: hsl(199, 92%, 25%);
  --sl-color-accent: hsl(199, 92%, 75%); /* Light cyan from logo */
  --sl-color-accent-high: hsl(199, 92%, 88%);

  --sl-color-text: var(--sl-color-white);
  --sl-color-text-accent: var(--sl-color-accent-high);
  --sl-color-text-invert: var(--sl-color-black);
  --sl-color-bg: var(--sl-color-black);
  --sl-color-bg-nav: hsl(0, 0%, 3%);
  --sl-color-bg-sidebar: var(--sl-color-black);
  --sl-color-bg-inline-code: var(--sl-color-gray-6);
  --sl-color-bg-accent: var(--sl-color-accent-high);
  --sl-color-hairline-light: var(--sl-color-gray-6);
  --sl-color-hairline: var(--sl-color-gray-6);
  --sl-color-hairline-shade: var(--sl-color-gray-6);

  --sl-color-backdrop-overlay: hsla(0, 0%, 10%, 0.33);

  & .expressive-code .frame {
    --code-background: var(--sl-color-bg-nav);
    box-shadow: none;
  }

  & .expressive-code pre {
    border-color: var(--sl-color-gray-6);
  }
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  /* Colours (light mode) */
  --sl-color-white: hsl(0, 0%, 0%);
  --sl-color-gray-1: hsl(0, 0%, 10%);
  --sl-color-gray-2: hsl(0, 0%, 18%);
  --sl-color-gray-3: hsl(0, 0%, 28%);
  --sl-color-gray-4: hsl(0, 0%, 42%);
  --sl-color-gray-5: hsl(0, 0%, 63%);
  --sl-color-gray-6: hsl(0, 0%, 80%);
  --sl-color-gray-7: hsl(0, 0%, 90%);
  --sl-color-black: hsl(0, 0%, 100%);

  --sl-color-orange-high: hsl(var(--sl-hue-orange), 80%, 25%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 90%, 60%);
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 90%, 88%);
  --sl-color-green-high: hsl(var(--sl-hue-green), 80%, 22%);
  --sl-color-green: hsl(var(--sl-hue-green), 90%, 46%);
  --sl-color-green-low: hsl(var(--sl-hue-green), 85%, 90%);
  --sl-color-blue-high: hsl(var(--sl-hue-blue), 80%, 30%);
  --sl-color-blue: hsl(var(--sl-hue-blue), 80%, 60%);
  --sl-color-blue-low: hsl(var(--sl-hue-blue), 88%, 90%);
  --sl-color-purple-high: hsl(var(--sl-hue-purple), 90%, 30%);
  --sl-color-purple: hsl(var(--sl-hue-purple), 90%, 60%);
  --sl-color-purple-low: hsl(var(--sl-hue-purple), 80%, 90%);
  --sl-color-red-high: hsl(var(--sl-hue-red), 80%, 30%);
  --sl-color-red: hsl(var(--sl-hue-red), 90%, 60%);
  --sl-color-red-low: hsl(var(--sl-hue-red), 80%, 90%);

  --sl-color-accent-high: hsl(199, 60%, 35%);
  --sl-color-accent: hsl(199, 60%, 48%); /* Muted cyan from light logo */
  --sl-color-accent-low: hsl(199, 92%, 88%);

  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-bg-nav: hsl(0, 0%, 97%);
  --sl-color-bg-inline-code: var(--sl-color-gray-7);
  --sl-color-bg-accent: var(--sl-color-accent);

  --sl-color-backdrop-overlay: hsla(0, 0%, 36%, 0.33);

  & .expressive-code .frame {
    --code-background: var(--sl-color-black);
  }
}

.site-title, .hero h1 {
  position: relative;
  font-family: var(--sl-font-system-mono);
  color: transparent;

  &::after {
    pointer-events: none;
    position: absolute;
    right: 0;
    content: "nanʘ_kit";
    content: "nanʘ_kit" / "";
    color: var(--sl-color-text);
  }

  &:is(.site-title)::after {
    color: var(--sl-color-accent-high);
  }
}

.nk-brand-logo {
  float: right;

  @media (max-width: 50rem) {
    float: none;
    margin: 0 auto;
  }
}

.sl-markdown-content table {
	display: table;
	width: 100%;
}
