.root {
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.content,
.footer {
  transition: opacity var(--durationSm);

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.hidden {
  opacity: 0;
}
